[submodule "tests/co-simulations/common/vhdl/vhdl-amba5"]
	path = tests/co-simulations/common/vhdl/vhdl-amba5
	url = git@github.com:m-kru/vhdl-amba5.git
[submodule "tests/co-simulations/common/vhdl/vhdl-types"]
	path = tests/co-simulations/common/vhdl/vhdl-types
	url = git@github.com:m-kru/vhdl-types.git
